.blog-container {
  margin-right: auto !important;
  margin-left: auto !important;
}

.blog-title {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #00299c;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center !important;
}

.blog-sub-title {
  margin-top: 0;
  margin-bottom: 35px;
  color: #000000;
  font-size: 18px;
  text-align: center !important;
}

.blog-paragraph-break {
  margin-top: 45px;
}

.blog-part {
  border-top: 1px solid #e6e6e6;
  padding: 10px 25px 10px 45px;
}

.blog-header-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
  color: #000000;
  font-size: 22px;
  font-weight: bolder;
  text-align: left !important;
}

.blog-header-2 {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: -15px;
  color: #000000;
  font-size: 20px;
  text-align: left !important;
}

.blog-header-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
  color: #000000;
  font-size: 18px;
  text-align: left !important;
}

.blog-text-normal {
  margin-bottom: 15px;
  line-height: 28px;
  word-break: break-word;
  word-wrap: break-word;
  color: #1b1b1b;
  font-size: 16px;
}

.blog-highlight-cyan {
  margin-left: 2px;
  margin-right: 2px;
  background: #d1f5ff;
  border-radius: 8px;
  padding: 3px 6px 3px 6px;
}

.blog-highlight-canary {
  margin-left: 2px;
  margin-right: 2px;
  background: #f8faa9;
  border-radius: 8px;
  padding: 3px 6px 3px 6px;
}

.blog-highlight-compact {
  background: #00299c;
  color: azure;
  border: 2px solid #001757;
  font-size: 14px;
  font-weight: bold;
}

.blog-question-title {
  border-radius: 6px;
  background: linear-gradient(to right, #508068, #b9ddca);
  color: white;
  padding: 5px 5px 5px 15px;
}

.blog-deprecation {
  text-decoration: line-through;
  text-decoration-style: dashed;
  font-style: italic;
  font-weight: bold;
}
