<div class="sc-404-container">
  <div style="margin-top: 10px; ">
    <img class="sc-404-img" src="../../img/family-guy-404.jpg" alt="Wow, you just discovered a barren landscape!">
  </div>
  <div class="sc-404-title">404 - What the hell is this?</div>
  <hr>
  <div class="sc-404-text">Sorry, we don't know what to do, just like the blue period of every middle-aged man, or puberty.</div>
  <div>But don't worry, lemme try taking you <span (click)="navigateToHomepage()" class="sc-404-home">🏘︎ home</span>.</div>
</div>
